body{
    position:relative;
    display:inline-block;
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
.commonStyle{
    position: relative;
    display: inline-block;
}
.w-100{
    width: 100%;
}
.float-left{
    float: left;
}
.main-section{
    padding: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.remoteVideo-panel{
    width: 40%;
    height: 50vh;
    float: left;
    
}
.remoteVideo-panel>video{
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px grey;
    object-fit: cover;
    background-color: white;
}
.localVideo-panel{
    position: relative;
    width: 40%;
    height: 50vh;
    z-index: 9;
    margin-right: 30px;
}
.localVideo-panel>video{
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px grey;
    object-fit: cover;
    background-color: white;
}
.controls-panel{
    position: relative;
    width: 100%;
    float: left;
    /* left: 0; */
    /* bottom: 0; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, .8); */
    /* min-height: 60px; */
    padding: 10px;
}
.showEnd-panel{
    display: none;
}
.endCallBtn{
    background: red;
    border: unset;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.controls-panel>button{
    margin-right: 20px;
}
.muteBtn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    background: #4e4e4e;
    color: white;
    
    box-shadow: 0px 0px 10px 0px #4c4c4c;
}
.muteBtn i{
    font-size: 22px;
}
.endCallBtn i{
    transform: rotate(135deg);
    font-size: 30px;
    color: white;
}
.showEnd-panel{
    position: absolute;
    color: red;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 20px;
}
.takePhoto{
    padding: 8px 20px;
    border: 1px solid #188218;
    background: #188218;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    text-transform: uppercase;
}
.record{
    background: #fd3030;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #fd3030;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
#canvas{
    display: none;
}
.borrowerVideo-panel{
    display: none;
}
.borrowerValue-panel{
    padding: 0px 20px;
}
.borrowerValue-panel>input{
    width: 80%;
    padding: 8px 10px;
    border: 1px solid grey;
    border-radius: 4px;
}
.copyBtn{
    background:white;
    border:1px solid grey;
    padding: 8px 10px;
    color: grey;
    border-radius: 4px;
}